@import "../../../assets/scss//variabele.scss";

.container {
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  margin: 0 auto 20px auto;
  padding: 0 50px;
  background-color: #0a3457;

  .logo a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
  }

  .navbar_items {
    display: flex;
    gap: 20px;
  }

  button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
}
