.firstplan_wrapper {
  margin: 20px 0;
  height: 100%;

  .plan_container {
    display: flex;
  }

  .plan_container > div {
    flex: 1;
    margin: 50px 0;
  }

  .left_plan_div {
    font-size: 23px;
    padding: 0 10px;
  }

  .firstplan_heading {
    text-align: center;
    padding: 20px 0;
  }

  .firstPlanImg {
    border-radius: 15px;
    max-width: 700px;
  }

  .list_items {
    display: flex;
    justify-content: space-around;
  }

  .list_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin: 15px 0;
    min-width: 200px;
    background-image: linear-gradient(
      -225deg,
      #3d4e81 0%,
      #5753c9 48%,
      #6e7ff3 100%
    );
  }

  .list_item:hover {
    box-shadow: 3px 3px 15px -4px #777777;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
  }

  .item_cards {
    position: relative;
    top: 10px;
    left: 0;
    height: 100vh;
  }

  .item_card {
    font-weight: 600;
    font-size: 25px;
    border-radius: 15px;
    padding: 25px;
    max-width: 700px;
    margin: 0 auto;
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
    position: absolute;
  }

  .item_card:nth-child(1) {
    top: 20px;
    left: 10px;
  }
  .item_card:nth-child(2) {
    top: 300px;
    left: 300px;
  }
  .item_card:nth-child(3) {
    top: 480px;
    left: 650px;
  }
  .last_cards {
    .last_card {
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      background-color: #e4e4e1;
      background-image: radial-gradient(
          at top center,
          rgba(255, 255, 255, 0.03) 0%,
          rgba(0, 0, 0, 0.03) 100%
        ),
        linear-gradient(
          to top,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(143, 152, 157, 0.6) 100%
        );
      background-blend-mode: normal, multiply;
    }
  }
}
