.firstplan_wrapper {
  margin: 50px 0;
  height: 100%;

  .plan_container {
    display: flex;
  }

  .plan_container > div {
    flex: 1;
    margin: 20px 0;
  }

  .left_plan_div {
    font-size: 23px;
    padding: 0 10px;
  }

  .firstplan_heading {
    text-align: center;
    padding: 20px 0;
  }

  .enterImg {
    float: left;
    max-width: 1440px;
    width: 50%;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
  }

  .list_items {
    display: flex;
    justify-content: space-around;
  }

  .list_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin: 15px 0;
    min-width: 200px;
  }

  .list_item:hover {
    box-shadow: 3px 3px 15px -4px #777777;
  }

  .item_cards {
    position: relative;
    top: 10px;
    left: 0;
    height: 100vh;
  }

  .item_card {
    font-weight: 600;
    font-size: 25px;
    border-radius: 15px;
    padding: 25px;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
  }

  .item_card:nth-child(1) {
    top: 20px;
    left: 10px;
  }
  .item_card:nth-child(2) {
    top: 300px;
    left: 300px;
  }
  .item_card:nth-child(3) {
    top: 480px;
    left: 650px;
  }
  .last_cards {
    .last_card {
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      background-color: #e4e4e1;
    }
  }
}
